@model BeatLab.Models.Entities.Alboms

@{
    ViewBag.Title = "Удаление альбома";
}


<h3>Вы точно хотите удалить данный альбом?</h3>
<div>

    <hr />
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Удалить" class="btn btn-default" /> |
    @Html.ActionLink("Вернуться", "Users.Details","", @class: "header-style-text")

</div>
    }
</div>
