@model BeatLab.Models.Entities.User

@{
    ViewBag.Title = "Удаление пользователя";
}



<h3>Вы точно хотите удалить данного пользователя?</h3>
<div>

    <hr />
   

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Удалить" class="btn btn-default" /> |
    @Html.ActionLink("Верунться", "Users.Details", @class: "btn btn-default")
</div>
    }
</div>
