@model BeatLab.Models.Entities.Feedback

@{
    ViewBag.Title = "Удаление комментария";
}



<h3>Вы точно хотите удалить данный комментарий?</h3>
<div>

    <hr />
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться", "Index","",new {@class = "btn btn-default" })
        </div>
    }
</div>
