@using BeatLab.Models.Entities;
@model IEnumerable<Music>

@{
    ViewBag.Title = "Главная страница";
    @Styles.Render("~/Content/StylePage/HomeStyle.css")

}


<body class="widthelements ">


    <section class="u-align-center u-clearfix u-custom-color-1 u-section-1" id="carousel_0e53">

        <div class="main" style="background-color:#1f2a41 !important">
            <img src="~/Resource/bg-img.jpg" alt="" class="bg-fon u-expanded-width u-image u-image-default u-image-1" data-image-width="1984" data-image-height="1328">
            <div class="center">
                <h1 style="color:white;">Beatlab</h1>

                <p style="color:white;">Площадка по продаже своего творчества</p>
            </div>
        </div>

        <h1 class="u-text u-text-default u-text-1">BeatLab</h1>
        <h3 class="u-text u-text-default u-text-2">Написать трек проще, чем кажется</h3>
    </section>
    <section class="u-align-center u-clearfix u-grey-10 u-section-2" id="carousel_60e6">
        <div class="u-custom-color-1 u-expanded-width u-shape u-shape-rectangle u-shape-1"></div>
        <h2 class="u-text u-text-body-alt-color u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1">Выбери свои предпочтения</h2>
        <p class="u-text u-text-body-alt-color u-text-2">
            Любые звуки, инструменты, плагины на выбор. Выбери интересующую категорию, найди подходящий для тебя товар, начинай творить..
        </p>
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <h4 class="u-text u-text-custom-color-1 u-text-3">БИТЫ</h4>
                        <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-1" src="~/Resource/TS_sound-board.jpg" alt="" data-image-width="1296" data-image-height="864">
                        <p class="u-text u-text-palette-1-dark-1 u-text-4">Биты - первая состовляющая трека, которая задаст настроение, вызовет эмоции. Найди бит, который подойдет только для тебя</p>
                        <a> @Html.ActionLink("К БИТАМ", "Musics.Index", @class: "u-active-none u-border-2 u-border-active-palette-4-dark-1 u-border-hover-palette-4-dark-1 u-border-palette-4-base u-btn u-button-style u-hover-none u-none u-text-active-palette-4-base u-text-body-color u-text-hover-palette-4-base u-btn-1")</a>

                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <h4 class="u-text u-text-custom-color-1 u-text-5">CЭМПЛЫ</h4>
                        <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-2" src="~/Resource/Ableton Push 2 2.jpg" alt="" data-image-width="1920" data-image-height="1080">
                        <p class="u-text u-text-palette-1-dark-1 u-text-6">Семплы - то из чего строятся биты. Найди тот самый звук, который заест в головах у миллионов человек</p>
                        <a> @Html.ActionLink("К CЕМПЛАМ", "Musics.Index", @class: "u-active-none u-border-2 u-border-active-palette-4-dark-1 u-border-hover-palette-4-dark-1 u-border-palette-4-base u-btn u-button-style u-hover-none u-none u-text-active-palette-4-base u-text-body-color u-text-hover-palette-4-base u-btn-1")</a>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <h4 class="u-text u-text-custom-color-1 u-text-7">ПЛАГИНЫ</h4>
                        <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-3" src="~/Resource/serum-2048x1657.jpg" alt="" data-image-width="2048" data-image-height="1657">
                        <p class="u-text u-text-palette-1-dark-1 u-text-8">Плагины - помогут в украшении трека. Убрать шум, доавить краски, поджать частоты, всё это возможно реализовать, найдя прекрасный плагин</p>
                        <a>@Html.ActionLink("К ПЛАГИНАМ", "Plugins.Index" , @class : "u-active-none u-border-2 u-border-active-palette-4-dark-1 u-border-hover-palette-4-dark-1 u-border-palette-4-base u-btn u-button-style u-hover-none u-none u-text-active-palette-4-base u-text-body-color u-text-hover-palette-4-base u-btn-1" )</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>

