@model BeatLab.Models.Entities.Format_Plugin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Format_Plugin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_Format_Plugin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_Format_Plugin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Format_Plugin }) |
    @Html.ActionLink("Back to List", "Index")
</p>
