body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


.header-style {
    background: white;
    -webkit-box-shadow: -1px 5px 7px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 5px 7px -3px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 5px 7px -3px rgba(34, 60, 80, 0.2);
}

.header-style-text {
    color: black;
    font-size: 17px;
    margin-left: 10px;
}

    .header-style-text:hover {
        color: black;
        font-size: 17.3px;
        background: white !important;
    }

.brand-style {
    color: black;
}

    .brand-style:hover {
        color: black;
    }
.common-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 150px;
}
.player__container {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.playerm {
    background: var(--player-bg);
    -webkit-box-shadow: 1px -2px 19px -3px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 1px -2px 19px -3px rgba(34, 60, 80, 0.1);
    box-shadow: 1px -2px 19px -3px rgba(34, 60, 80, 0.1);
    bottom: 0;
    color: var(--player-text);
    font-size: 12px;
    left: 0px;
    position: fixed;
    right: 0px;
}
.player__track-descr-box {
    width: 40%;
}
.track-descr {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.track-descr__cover-img {
    -o-object-fit: cover;
    border-radius: 2px;
    height: 50px;
    margin-right: 16px;
    object-fit: cover;
    width: 50px;
}
. track-descr__content {
    min-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.track-descr__name {
    color: var(--main-text);
    display: inline;
    font-size: 14px;
    font-weight: 700;
}


.track-artist__name {
    color: var(--main-text);
    display: inline;
    font-size: 14px;
    font-weight: 700;
}

a {
    text-decoration: none;
}
.track-descr__style {
    color: var(--signatures-text);
}
.player__controls-box {
    display: flex;
    justify-content: center;
    width: 45%;
}
.player-controls {
    align-items: center;
    width:700px !important;
    display: flex;
}
.player__tools-box {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 10%;
}
.player__add-btn-box {
    height: 40px;
    width: 120px;
}
.bg {
    align-items: center;
    background-color: var(--highlight);
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    color: var(--icon-btn);
    display: flex;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    height: 100%;
    justify-content: space-between;
    line-height: 14px;
    outline: 1px solid transparent;
    padding: 12px 10px 12px 15px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    outline: 0 !important;
}
.btn-icon {
    color: var(--icon-btn);
}

audio::-webkit-media-controls-play-button{
    background-color:white;
}
audio::-webkit-media-controls-panel {
    background-color: white;
}

.form-horizontal {
    background: #fff;
    padding-bottom: 40px;
    border-radius: 15px;
    margin-bottom: 100px;
    text-align: center;
}

    .form-horizontal .heading {
        display: block;
        font-size: 35px;
        font-weight: 700;
        padding: 35px 0;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 30px;
    }

    .form-horizontal .form-group {
        padding: 0 40px;
        margin: 0 0 25px 0;
        position: relative;
    }

    .form-horizontal .form-control {
        background: #f0f0f0;
        border: none;
        border-radius: 20px;
        box-shadow: none;
        padding: 0 20px 0 45px;
        height: 40px;
        transition: all 0.3s ease 0s;
    }

        .form-horizontal .form-control:focus {
            background: #e0e0e0;
            box-shadow: none;
            outline: 0 none;
        }


.listwiev_image{
    width:270px !important;
    height:230px !important;
}

.audioplayer_nicknameartict {
    font-weight: 700
}

    .form-horizontal .form-group i {
        position: absolute;
        top: 12px;
        left: 60px;
        font-size: 17px;
        color: #c8c8c8;
        transition: all 0.5s ease 0s;
    }

    .form-horizontal .form-control:focus + i {
        color: #00b4ef;
    }

    .form-horizontal .fa-question-circle {
        display: inline-block;
        position: absolute;
        top: 12px;
        right: 60px;
        font-size: 20px;
        color: #808080;
        transition: all 0.5s ease 0s;
    }

        .form-horizontal .fa-question-circle:hover {
            color: #000;
        }

   

    .form-horizontal .text {
        float: left;
        margin-left: 7px;
        line-height: 20px;
        padding-top: 5px;
        text-transform: capitalize;
    }

    .form-horizontal .btn {
     align-content:center;
        font-size: 14px;
        color: #fff;
        background: #00b4ef;
        border-radius: 30px;
        padding: 10px 25px;
        border: none;
        text-transform: capitalize;
        transition: all 0.5s ease 0s;
    }

.card_label--textdanger {
    margin-bottom: 35px;
}

.editCard--margin{
    margin-top:10px;
}
.editCard_DivImage--margin{
    margin-bottom:20px;
}
.editCrard--padding {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
    padding-top: 30px;
}

.editCard--shadow {
    -webkit-box-shadow: -1px 4px 11px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 4px 11px 2px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 4px 11px 2px rgba(34, 60, 80, 0.2);
}

.h2--margin{
    margin-top:80px !important;
}

.editCard_button_size{
    width:100px;
    
}

    .widthelements{
        width:100% !important;
    }

@media (min-width: 1200px) {
    .widthelements {
        width: 100% !important;
    }
}

    @media (min-width: 992px) {
        .widthelements {
            width: 100% !important;
        }
    }
@media (min-width: 768px) {
    .widthelements {
        width: 100% !important;
    }
}

    @media only screen and (max-width: 479px) {
        .form-horizontal .form-group {
            padding: 0 25px;
        }

            .form-horizontal .form-group i {
                left: 45px;
            }
    }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.rndclss{

}
.nameartistforlayer{
    color: black;
}
.namesongforplayer {
    color: black;
}
.nameagenereforsong {
    color: black !important;
}
.bar {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    width: 638px;
  margin-bottom:15px;
    max-width: 484px;
}

    .bar:hover {
        box-shadow: 1px 1px 8px 1px #dcdcdc;
    }

    .bar:focus-within {
        box-shadow: 1px 1px 8px 1px #dcdcdc;
        outline: none;
    }
.searchbar {
   
    border: none;

    font-size: 16px;
    outline: none;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.voice {
    height: 20px;
    position: relative;
    top: 5px;
   
}
.bar2 {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}
.cb {
    margin-left: 20px;
    width: 120px;
    height: 30px;
}
.labelstyle {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-left: 20px;
}
.div_filter {
    display: flex;
    margin-bottom:15px;
    flex-direction: column;
    place-items: flex-start;
}
.btn_filter {
    background-color:#00b4ef;
    color:white;
}

.btn_sort{
    background:white;
    border-color:white;
    
}
.btn_sort--margin{
    margin-left:10px;
}

.breadcrumbs {
    clear: both;
    float: none;
    display: block;
    position: relative;
    z-index: 50;
    text-shadow: none !important;
    margin-bottom: 20px;
    margin-top: 20px;
}
.breadcrumbs-level-1 {
    background: #00b4ef;
    background-image: url(../img/breadcrumbs/breadcrumbs_2_level.png);
    color: #b6c4d9;
    height: 50px;
    width:200px;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 50px;
    padding: 0 20px 0 34px;
    display: block;
    font-family: Conv_BebasNeue Regular;
    position: relative;
    z-index: 8;
    white-space: nowrap;
}
.breadcrumbs .breadcrumbs-level-1:before {
    height: 100%;
    width: 1000px;
    display: block;
    position: absolute;
    background: #00b4ef;
    background-image: url(../img/breadcrumbs/breadcrumbs_2_level.png);
    left: -999px;
    content: " ";
}


.breadcrumbs .breadcrumbs-level-1:after {
    height: 50px;
    width: 14px;
    display: block;
    position: absolute;
    background-image: url(../Resource/breadcrumbs_1_level_after.png);
    top: 0;
    right: -13px;
    content: " ";
}
.imgactive{

}
.imgactive:active {
       visibility:hidden;
}

.parent {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 2fr repeat(2, 1fr) 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 4 / 1 / 5 / 2;
}
#main {
    background-color: #f2f2f2;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 4px solid #ddd;
}

#real-estates-detail #author img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 5px solid #ecf0f1;
    margin-bottom: 10px;
    display:block;
    overflow:hidden;
}

#real-estates-detail .sosmed-author i.fa {
    width: 30px;
    height: 30px;
    border: 2px solid #bdc3c7;
    color: #bdc3c7;
    padding-top: 6px;
    margin-top: 10px;
}

.panel-default .panel-heading {
    background-color: #fff;
}

.img_cardDetalies {
    height: 200px;
    width: 200px;
  
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

.img-sm {
    width: 46px;
    height: 46px;
}

.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

    .panel .panel-footer, .panel > :last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .panel .panel-heading, .panel > :first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.panel-body {
    padding: 25px 20px;
}

.media-block .media-left {
    display: block;
    float: left
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle
}

.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9
}

.tag.tag-sm, .btn-group-sm > .tag {
    padding: 5px 10px;
}

.tag:not(.label) {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #acacac;
}

.text-sm {
    font-size: 0.9em;
}

.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
    line-height: 1.25;
}

.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

    .btn-sm, .btn-group-sm > .btn, .btn-icon.btn-sm {
        padding: 5px 10px !important;
    }

.mar-top {
    margin-top: 15px;
}
.decor {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

@media (min-width: 580px) and (max-width:780.98px) {
    .common-container {
        padding: 0 30px;
    }
}
@media (min-width: 100px) and (max-width:580.98px) {
    .common-container {
        padding: 0 0px;
    }
}